<!-- your html code here -->
<div class="container">
    <h1>Contact</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis minima quam dolorem quidem veniam minus voluptatibus ipsum quia accusantium cupiditate ea molestiae excepturi, non pariatur eum assumenda possimus eligendi accusamus.</p>
</div>
<div class="card mb-3 text-left container-fluid bg-light" style="width: 50rem;">
        <div class="row d-flex justify-content-end pt-3">
            <label for="colFormLabel" class="col-xs-2 col-form-label font-weight-bold">Your E-mail</label>
            <div class="col-md-9">
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Your Email">
                <small id="emailHelp" class="form-text text-muted"></small>
            </div>
        </div>
        <div class="row d-flex justify-content-end pt-2">
            <label for="colFormLabel" class="col-xs-2 col-form-label font-weight-bold">Your Message</label>
            <div class="col-md-9">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                    placeholder="Please enter your message here..."></textarea>
            </div>
        </div>
            <div class="col-md-12 d-flex justify-content-end ml-3 pt-3 pb-3">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
</div>
</div>