<!-- your html code here -->
<!-- <p>Hello, I'm the portfolio.html</p> -->
<!-- Sergio Picado -->


<!-- Text (h1 y p)-->

<div class="container-fluid">
    <div class="d-flex flex-column flex-md-row justify-content-center justify-content-md-between align-items-center">
        <div class="row">
            <h1>Portfolio</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>

<!-- Images Main Container -->
        <div class="container-fluid row">

            <div class="d-flex rowalign-content-center justify-content-center align-items-center"
                style="display: flex;">
<!-- Image 1 -->
                <div class="w-auto p-3">
                    <img src="/website1/assets/img/3.jpg"
                        class="rounded float-left w-50 p-3" style="padding: 5px;" alt="...">
                    <div>
                        <h2 style="color: lightseagreen;">Project Name</h2>
                        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa
                            qui officia deserunt mollit anim id est laborum</p>
                    </div>
                </div>
<!-- Image 2 -->
                <div class="w-auto p-3">
                    <img src="/website1/assets/img/3.jpg"
                        class="rounded float-left w-50 p-3" style="padding: 5px;" alt="...">
                    <div>
                        <h2 style="color: lightseagreen;">Project Name</h2>
                        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa
                            qui officia deserunt mollit anim id est laborum</p>
                    </div>
                </div>
<!-- Image 3 -->
                <div class="w-auto p-3">
                    <img src="/website1/assets/img/3.jpg"
                        class="rounded float-left w-50 p-3" style="padding: 5px;" alt="...">
                    <div>
                        <h2 style="color: lightseagreen;">Project Name</h2>
                        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa
                            qui officia deserunt mollit anim id est laborum</p>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>