<!-- your html code here -->
<!-- <p>Hello, I'm the services.html</p>
<p>Hello, I'm the services section and I was loaded using ajax from templates/services.html</p> -->
<!-- 29. Natalia Barquero P -->

<div class="bg-light">
    <div class="container-md mt-3 mb-3">
        <hr>
    </div>

    <div class="container-fluid">
        <div class="d-flex flex-row justify-content-between align-items-center">
            <div class="col-md-3">
                <img src="https://browser-f78950b1-4526-4a50-a5d2-fe494d210d3f.ws-us03.gitpod.io/workspace/html-hello/exercise-collaborative-html-website/website1/assets/img/2.jpg"
                    class="img-fluid rounded-circle">
            </div>

            <div class="col-md-9">
                <h1><span class="font-weight-bold">The Second Heading</span> Is Pretty Cool Too.</h1>
                <p class="text-wrap mt-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                    voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
    </div>

    <div class="container-md mt-3 mb-3">
        <hr>
    </div>
</div>