<!-- your html code here -->
<div class="position-relative d-flex justify-content-center align-items-center flex-column" style="height: 400px;">
    <img src="/website1/assets/img/bg.jpg" alt="Responsive image" class="position-absolute h-100% w-100"
        style="top: 0%; z-index: -1;">

    <h1 class="bg-white font-weight-bold display-2" style="text-align: center; width: 98%;">One Page Wonder</h1>
    <h2 class="bg-white font-weight-bold display-4" style="text-align: center; width: 98%;">Will Knock Your Socks Off</h2>


</div>